/* Bad Script font */
@font-face {
	font-family: 'Bad Script';
	src: url('../font/BadScript-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Lobster font */
@font-face {
	font-family: 'Lobster';
	src: url('../font/Lobster.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face { 
    font-family: 'BebasRegular';
    src: url("../fonts/BebasRegular/BebasRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
	font-display: swap;
}

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.bebas-regular {
	font-family: 'BebasRegular', sans-serif;
}

.bad-script {
	font-family: 'Bad Script', sans-serif;
}

.lobster {
	font-family: 'Lobster', sans-serif;
}