* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
}

.header-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.row {
  width: 1170px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards {
  border: 1px solid #F6F7F8;
  border-radius: 4%;
  width: 270px;
  height: 349px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 270px;
}

.line {
  border: 1px solid #F6F7F8;
  width: 90%;
}

.card-header {
  font-size: 14px;
  text-align: center;
}

.price {
  display: flex;
  justify-content: space-around;
  width: 91px;
}

.price-text {
  font-size: 16px;
}

.new-price {
  color: #FF4858;
}

.old-price {
  color: #C1C8CE;
  text-decoration: line-through;
}