* {
  box-sizing: border-box;
}

.main {
  border: 2px solid lightgrey;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  width: 300px;
  height: auto;
}

.tarif {
  margin-top: 60px;
  font-weight: 300;
  font-size: 16px;
}

.price {
  font-size: bold;
  margin-top: 35px;
  margin-bottom: 50px;
}

.price-num {
  font-weight: 500;
  font-size: 48px;
}

.price-word {
  font-weight: 300;
  font-size: 16px;
}

.paragraph {
  margin-bottom: 25px;
}

.button {
  text-transform: uppercase;
  margin-top: 50px;
  border: 2px solid lightgrey;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}