body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  color: blue;
}

.boldText {
  font-weight: bold;
}

.itText {
  font-style: italic;
}

.upperCaseText {
  vertical-align: super;
}

.underLineText {
  text-decoration: underline;
}

.line {
  border-bottom: 1px solid #000000;
}